{% extends 'blog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <p class="card-text">Вы действительно хотите удалить: {{ blog.name }}?</p>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Удалить</button>
                        <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}